@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1207px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.home {
    display: flex;
    justify-content: space-between;
}

header {
    padding-top: 50px;
}

ul.navigation,
nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
}

li a {
    text-decoration: none;
    display: inline;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.lg {
    margin-right: 10px;
}

.lasles {
    font-weight: 500;
    color: #0B132A;
}

.vpn {
    font-weight: 700;
    color: #0B132A;
}

.registration {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sign_in {
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #0B132A;
}

.log_in {
    color: #F53855;
    font-weight: 500;
    border: 1px solid #F53855;
    padding: 13px 45px;
    border-radius: 50px;
    background: transparent;
    transition: 0.6s;
}

.log_in:hover {
    color: #ffffff;
    background-color: #F53855;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 129px;
    line-height: 70px;
    margin-bottom: 20px;
    color: #0B132A;
}

.h1_home {
    font-weight: 700;
    color: #0B132A;
}

.provide {
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}

.illustr {
    margin-top: 101px;
    margin-left: 41px;
}

.provide {
    color: #4F5665;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    font-size: 16px;
}

.las_bold {
    font-weight: 500;
}

.get_started {
    font-weight: 600;
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color: #f53838;
    border-color: #f53838;
    border-radius: 10px;
    padding: 18px 78px;
    box-shadow: 0px 25px 50px -15px #f53838;
    transition: 0.6s;
}

.get_started:hover {
    transform: scale(1.05);
}

.statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1207px;
    height: 200px;
    margin: 0 auto;
    margin-top: 103px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.statistic-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.stat_text {
    font-size: 20px;
    color: #4F5665;
    font-weight: 300;
    line-height: 30px;
}

.statistic .number {
    color: #0B132A;
    font-size: 25px;
    font-weight: 600;
}

.statis_img {
    width: 55px;
    height: 55px;
}

.vertical-line {
    border-left: 1px solid #EEEFF2;
    height: 125px;
}

.provide_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1207px;
    margin: 0 auto;
}

.illustr2 {
    margin-top: 96px;
    margin-right: 170px;
    margin-bottom: 131px;
}

.provide_text {
    margin-bottom: 126px;
}

.we_provide {
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    width: 384px;
    margin-top: 150px;
}

.explore {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.functions {
    list-style: none;
    padding: 0;
}

.functions li {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-bottom: 15px;
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
}

.plan_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1207px;
    margin: 0 auto;
    background-color: #fbfbfb;
    gap: 50px;
}

.choose {
    background-color: #fbfbfb;
    padding-top: 80px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.your_plan {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #0B132A;
    margin-bottom: 20px;
}

.package {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #4F5665;
    line-height: 30px;
    width: 555px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.box_plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 760px;
    transition: 0.6s;
}

.box_plan:hover {
    border: 2px solid #f53838;
}

.first_in_box {
    font-size: 18px;
    font-weight: 400;
    color: #0B132A;
    margin: 30px 0;
}

.plan {
    list-style: none;
    padding: 0
}

.plan li {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 13px;
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
}

.box_footer {
    margin-top: auto;
}

.price_box {
    font-size: 25px;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
}

.price_box span {
    color: #4F5665;
    font-weight: 300;
}

.button_box {
    font-weight: 600;
    font-size: 16px;
    color: #f53838;
    border: 2px solid #f53838;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 13px 63px;
    transition: 0.6s;
}

.button_box:hover {
    color: #ffffff;
    background-color: #F53855;
}

.network {
    background-color: #fbfbfb;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.network h2 {
    font-size: 35px;
    font-weight: 400;
    color: #0B132A;
    line-height: 50px;
    margin-bottom: 20px;
}

.loc {
    font-size: 16px;
    font-weight: 300;
    color: #4F5665;
    margin-bottom: 186px;
}

.loc span {
    font-weight: 400;
}

.sponsored {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.amazon {
    height: 50px;
    margin-top: 15px;
}

.reviews_box {
    background-color: #fefefe;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.thousands {
    text-align: center;
}

.customer {
    font-size: 35px;
    font-weight: 400;
    color: #0B132A;
    padding-top: 50px;
    line-height: 50px;
}

.stories {
    font-size: 16px;
    font-weight: 300;
    color: #4F5665;
    padding-top: 20px;
    margin-bottom: 60px;
    line-height: 30px;
}

.sleider_reveiws {
    display: flex;
    justify-content: space-between;
}

.user_reveiw {
    width: 400px;
    padding: 30px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    transition: 0.6s;
}

.user_reveiw:hover {
    border: 2px solid #f53838;
    background-color: #ffffff;
}

.reveiw_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reveiw_user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reveiw_user img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating img {
    height: 16px;
    width: 16px;

}

.name {
    font-size: 18px;
    font-weight: 400;
    color: #0B132A;
}

.city {
    font-size: 14px;
    font-weight: 300;
    color: #4F5665;
}

.review {
    font-size: 16px;
    font-weight: 300;
    color: #0B132A;
    line-height: 30px;
}

.sleider_reveiws {
    gap: 50px;
}

.subscribe_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 59px 70px;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.subscribe h2 {
    font-weight: 400;
    font-size: 35px;
    color: #0B132A;
    line-height: 45px;
    margin-bottom: 20px;
}

.subscribe p {
    font-size: 16px;
    font-weight: 300;
    color: #4F5665;
}

.subscribe_banner button {
    font-weight: 600;
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color: #f53838;
    border-color: #f53838;
    border-radius: 10px;
    padding: 18px 65px;
    box-shadow: 0px 25px 50px -15px #f53838;
    transition: 0.6s;
}

.subscribe_banner button:hover {
    transform: scale(1.05);
}

.banner {
    margin-top: 65px;
    padding-bottom: 64px;
    background: #F8F8F8;
    background: linear-gradient(0deg, rgba(248, 248, 248, 1) 50%, rgba(254, 254, 254, 1) 50%);
}

footer {
    background: #F8F8F8;
}

.icon {
    height: 35px;
    width: 35px;
}

.icon img {
    height: 100%;
    width: 100%;
}

.socials {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.under_logo {
    width: 320px;
    font-weight: 16px;
    color: #4F5665;
    line-height: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.under_logo span {
    font-weight: 400;
}

.text_body {
    font-size: 16px;
    font-weight: 300;
    color: #AFB5C0;
    padding-bottom: 106px;
}

.text_body span {
    font-weight: 400;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer_menu p {
    font-size: 18px;
    font-weight: 400;
    color: #0B132A;
}

.footer_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer_menu ul a {
    color: #4F5665;
    font-weight: 300;
    font-size: 16px;
}

.footer_menu {
    line-height: 40px;
}

@media screen and (max-width: 1296px) {
    .container {
        width: 1000px;
    }

    h1 {
        font-size: 45px;
    }

    .statistic {
        height: auto;
        padding: 40px 0;
        gap: 30px;
    }

    .statistic .vertical-line {
        display: none;
    }

    .statistic-text {
        width: 50%;
        justify-content: flex-start;
    }

    .stat_text {
        text-align: left;
    }

    .illustr2 {
        margin: 20px 0;
        width: 100%;
    }

    .network img {
        width: 100%;
    }

    .sleider_reveiws {
        gap: 20px;
    }

    .plan_boxes {
        gap: 30px;
    }

    .statistic,
    .provide_box,
    .plan_boxes {
        width: 100%;
    }

    .sleider_reveiws {
        gap: 30;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 700px;
    }

    ul.navigation,
    nav {
        display: none;
    }

    .provide_box {
        display: flex;
        flex-direction: column;
    }

    .we_provide {
        margin-top: 0;
    }

    .sponsored {
        overflow: hidden;
    }

    .subscribe h2 {
        font-size: 27px;
    }

    .sleider_reveiws {
        overflow: hidden;
    }

    .user_reveiw {
        min-width: calc(50% - 10px);
    }

    .home.container {
        display: flex;
        flex-direction: column;
    }

    footer .container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 90%;
    }

    h1 {
        margin-top: 80px;
        text-align: center;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .statistic {
        display: flex;
        flex-direction: column;
    }

    .plan_boxes {
        display: flex;
        flex-direction: column;
    }

    .we_provide {
        text-align: center;
        margin: 0 auto;
    }

    .functions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .functions li {
        width: 50%;
        justify-content: flex-start;
    }

    .provide_text {
        margin-bottom: 20px;
    }

    .box_plan {
        min-height: 0px;
    }

    .box_plan .box_footer {
        margin-top: 20px;
    }

    .loc {
        margin-bottom: 50px;
    }

    .user_reveiw {
        width: 100%;
    }

    .subscribe_banner {
        padding: 30px 20px;
    }



    footer .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer li {
        text-align: center;
    }

    .right {
        gap: 50px;
    }

    .package {
        width: 100%;
    }

    .subscribe_banner {
        display: flex;
        flex-direction: column;
    }

    .subscribe_banner h2,
    p {
        text-align: center;
    }

    .subscribe_banner button {
        margin-top: 30px;
    }

    .sleider_reveiws {
        display: flex;
        flex-direction: column;
    }

    .right {
        flex-direction: column;
    }
}